# Supabase project settings
SUPABASE_URL=https://mcburfcfthqsiylejseu.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jYnVyZmNmdGhxc2l5bGVqc2V1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5MzEzMDgsImV4cCI6MjEwNDUwNzMwOH0.uURQvTAuhF22zKKlZg-C1S8TM6cvzY0puB0Ub46vQBs
SUPABASE_STORAGE_BUCKET=item-images
